html, body {
    padding:0;
    margin:0;
    height: 100%;
}

p {
    font-size: .875em;
    line-height: 1.4em;
}

.text-green {
    color: #76B100;
}

.btn-green {
    background-color: #76B100;
    color: white;
    font-size: .875em;
    &:hover {
        background-color: #578005;
    }
}

.splide__slide {
    display:flex;
    align-items:center;
    .slider-text {
        max-width: 400px;
        margin-left:50px;
        @media(max-width: 992px) {
            margin-top: 150px;
        }
        h1 {
            color: white;
            strong {
                color: black;
            }
        }
        p {
            color: white;
            text-shadow: 0 1px black;
        }
    }
}

section {
    .bg-image {
        background-image: url('/assets/images/bg-black.jpg');
        background-position:center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        padding: 50px 0;
    }
    .number {
        background-color: #76B100;
        display: inline-flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: 700;
        color: white;
    }
    .floating-coal {
        position:absolute;
        bottom: -120px;
        right: 20px;
        z-index:1;
    }

    .bg-coals {
        background-image: url('/assets/images/coals.jpg');
        background-position:center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align:center;
        h4 {
            font-size: 2.5em;
        }
    }
}
